<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/style.css" />

    <!-- Live Style Switcher --Demo Only-- -->
    <link
      rel="stylesheet"
      title="redStyle"
      class="alternate-style"
      href="../public/Red.css"
    />
    <link
      rel="stylesheet"
      title="blueStyle"
      class="alternate-style"
      href="../public/Blue.css"
      disabled
    />
    <link
      rel="stylesheet"
      title="orangeStyle"
      class="alternate-style"
      href="../public/Orange.css"
      disabled
    />
    <link
      rel="stylesheet"
      title="yellowStyle"
      class="alternate-style"
      href="../public/Yellow.css"
      disabled
    />
    <link
      rel="stylesheet"
      title="greenStyle"
      class="alternate-style"
      href="../public/Green.css"
      disabled
    />
    <link rel="stylesheet" href="../public/styleSwitcher.css" />

    <title>Admin - Cruz</title>
  </head>
  <body>
    <!--Main Container-->
    <div class="main-container">
      <!--SideBar-->
      <aside>
        <!--Logo-->
        <div class="logo">
          <a href="#">DashCruz</a>
        </div>

        <!--Menu toggle-->
        <div class="nav-toggler">
          <span></span>
        </div>
        <!--Menu toggle end-->

        <!--Nav-->
        <nav>
          <ul>
            <li>
              <a href="#home"> <i class="fa fa-home"></i> Home</a>
            </li>
            <li>
              <a href="#about"> <i class="fa fa-user"></i> About</a>
            </li>
            <li>
              <a href="#service"> <i class="fa fa-list"></i> Service</a>
            </li>
            <li>
              <a href="#portifolio">
                <i class="fa fa-briefcase"></i> Portifolio</a
              >
            </li>
            <li>
              <a href="#blog"> <i class="fa fa-envelope"></i> Blog</a>
            </li>
            <li>
              <a href="#contact"> <i class="fa fa-comments"></i> Contact</a>
            </li>
          </ul>
        </nav>
        <!--Nav end-->

        <!--copyRight-->
        <footer>
          <p>&copy; 2022 Marcos Cruz</p>
        </footer>
        <!--copyRight end-->
      </aside>
      <!--AsideBar end-->

      <!--Main Content-->
      <main class="main-content">
        <!--Home Section-->
        <section class="home section" id="home">
          <div class="container">
            <div class="intro">
              <img class="shadow-dark" src="../assets/eu.png" alt="profile" />

              <h1>Marcos Cruz</h1>
              <p>Desenvolvedor Full-stack Jr.</p>
              <div class="social-link">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </section>
        <!--Home Section end-->

        <!--About Section-->
        <section class="about section" id="about">
          <div class="container">
            <div class="row">
              <div class="section-title padd-15">
                <h2>Este sou eu!</h2>
              </div>
            </div>

            <div class="row">
              <div class="about-content">
                <div class="about-text padd-15">
                  <h3>
                    Me chamo Marcos e sou
                    <span>Desenvolvedor Front-end Jr</span>.
                  </h3>
                  <p>
                    Oi! Meu nome é Marcos Cruz. Sou um Desenvolvedor Web, sou
                    muito apaixonado e pelo que faço. buscando experiência como
                    um desenvolvedor Web profissional, para que um dia possa
                    finalmente ingressar na área. Adquiri algumas habilidades e
                    conhecimentos necessários para tornar projeto em realidade.
                  </p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="personal-info padd-15">
                <div class="row">
                  <div class="info-item padd-15">
                    <p>Birthday : <span>8 maio 1991</span></p>
                  </div>
                  <div class="info-item padd-15">
                    <p>Age : <span>30</span></p>
                  </div>
                  <div class="info-item padd-15">
                    <p>Website : <span>www.domain.com</span></p>
                  </div>
                  <div class="info-item padd-15">
                    <p>Email : <span>marcoscruz673@gmail.com</span></p>
                  </div>
                  <div class="info-item padd-15">
                    <p>Degree : <span>M.Tech</span></p>
                  </div>
                  <div class="info-item padd-15">
                    <p>Phone : <span>(91) 98617-2759</span></p>
                  </div>
                  <div class="info-item padd-15">
                    <p>City : <span>Belém-PA</span></p>
                  </div>
                  <div class="info-item padd-15">
                    <p>Freelance : <span>Available</span></p>
                  </div>
                </div>

                <div class="row">
                  <div class="buttons padd-15">
                    <a href="#" class="btn">Download CV</a>
                    <a href="#" class="btn">Hire me</a>
                  </div>
                </div>
              </div>
              <div class="skills padd-15">
                <div class="row">
                  <div class="skills-items">
                    <h5>HTML</h5>
                    <div class="progress">
                      <div class="progress-in" style="width: 6.79%"></div>
                      <div class="skill-percent">6.79%</div>
                    </div>
                  </div>

                  <div class="skills-items">
                    <h5>CSS</h5>
                    <div class="progress">
                      <div class="progress-in" style="width: 12.76%"></div>
                      <div class="skill-percent">12.76%</div>
                    </div>
                  </div>

                  <div class="skills-items">
                    <h5>SCSS</h5>
                    <div class="progress">
                      <div class="progress-in" style="width: 16.24%"></div>
                      <div class="skill-percent">16.24%</div>
                    </div>
                  </div>

                  <div class="skills-items">
                    <h5>TypeScript</h5>
                    <div class="progress">
                      <div class="progress-in" style="width: 22.68%"></div>
                      <div class="skill-percent">22.68%</div>
                    </div>
                  </div>

                  <div class="skills-items">
                    <h5>JavaScript</h5>
                    <div class="progress">
                      <div class="progress-in" style="width: 29.22%"></div>
                      <div class="skill-percent">29.22%</div>
                    </div>
                  </div>

                  <div class="skills-items">
                    <h5>Python</h5>
                    <div class="progress">
                      <div class="progress-in" style="width: 0.45%"></div>
                      <div class="skill-percent">0.45%</div>
                    </div>
                  </div>

                  <div class="skills-items">
                    <h5>Nunjucks</h5>
                    <div class="progress">
                      <div class="progress-in" style="width: 11.86%"></div>
                      <div class="skill-percent">11.86%</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="education padd-15">
                <h3 class="title">Education</h3>
                <div class="row">
                  <div class="timeline-box padd-15">
                    <div class="timeline">
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date">
                          <i class="fa fa-calendar"></i> 2013-2017
                        </h6>
                        <h4 class="timeline-title">Ciência da Computação</h4>
                        <p class="timeline-text">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Quisque scelerisque diam non nisi semper, et
                          elementum lorem ornare.
                        </p>
                      </div>
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date">
                          <i class="fa fa-calendar"></i> 2013-2017
                        </h6>
                        <h4 class="timeline-title">Ciência da Computação</h4>
                        <p class="timeline-text">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Quisque scelerisque diam non nisi semper, et
                          elementum lorem ornare.
                        </p>
                      </div>
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date">
                          <i class="fa fa-calendar"></i> 2013-2017
                        </h6>
                        <h4 class="timeline-title">Ciência da Computação</h4>
                        <p class="timeline-text">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Quisque scelerisque diam non nisi semper, et
                          elementum lorem ornare.
                        </p>
                      </div>
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date">
                          <i class="fa fa-calendar"></i> 2013-2017
                        </h6>
                        <h4 class="timeline-title">Ciência da Computação</h4>
                        <p class="timeline-text">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Quisque scelerisque diam non nisi semper, et
                          elementum lorem ornare.
                        </p>
                      </div>
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date">
                          <i class="fa fa-calendar"></i> 2013-2017
                        </h6>
                        <h4 class="timeline-title">Ciência da Computação</h4>
                        <p class="timeline-text">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Quisque scelerisque diam non nisi semper, et
                          elementum lorem ornare.
                        </p>
                      </div>
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date">
                          <i class="fa fa-calendar"></i> 2013-2017
                        </h6>
                        <h4 class="timeline-title">Ciência da Computação</h4>
                        <p class="timeline-text">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Quisque scelerisque diam non nisi semper, et
                          elementum lorem ornare.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="experience padd-15">
                <h3 class="title">Education</h3>
                <div class="row">
                  <div class="timeline-box padd-15">
                    <div class="timeline">
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date">
                          <i class="fa fa-calendar"></i> 2013-2017
                        </h6>
                        <h4 class="timeline-title">Ciência da Computação</h4>
                        <p class="timeline-text">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Quisque scelerisque diam non nisi semper, et
                          elementum lorem ornare.
                        </p>
                      </div>
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date">
                          <i class="fa fa-calendar"></i> 2013-2017
                        </h6>
                        <h4 class="timeline-title">Ciência da Computação</h4>
                        <p class="timeline-text">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Quisque scelerisque diam non nisi semper, et
                          elementum lorem ornare.
                        </p>
                      </div>
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date">
                          <i class="fa fa-calendar"></i> 2013-2017
                        </h6>
                        <h4 class="timeline-title">Ciência da Computação</h4>
                        <p class="timeline-text">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Quisque scelerisque diam non nisi semper, et
                          elementum lorem ornare.
                        </p>
                      </div>
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date">
                          <i class="fa fa-calendar"></i> 2013-2017
                        </h6>
                        <h4 class="timeline-title">Ciência da Computação</h4>
                        <p class="timeline-text">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Quisque scelerisque diam non nisi semper, et
                          elementum lorem ornare.
                        </p>
                      </div>
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date">
                          <i class="fa fa-calendar"></i> 2013-2017
                        </h6>
                        <h4 class="timeline-title">Ciência da Computação</h4>
                        <p class="timeline-text">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Quisque scelerisque diam non nisi semper, et
                          elementum lorem ornare.
                        </p>
                      </div>
                      <div class="timeline-item">
                        <div class="circle-dot"></div>
                        <h6 class="timeline-date">
                          <i class="fa fa-calendar"></i> 2013-2017
                        </h6>
                        <h4 class="timeline-title">Ciência da Computação</h4>
                        <p class="timeline-text">
                          Lorem ipsum dolor sit amet, consectetur adipiscing
                          elit. Quisque scelerisque diam non nisi semper, et
                          elementum lorem ornare.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--About Section end-->

        <!--Service Section-->
        <section class="service section" id="service">
          <div class="container">
            <div class="row">
              <div class="section-title padd-15">
                <h2>Serviços</h2>
              </div>
            </div>

            <div class="row">
              <div class="service-item padd-15">
                <div class="service-item-inner">
                  <div class="icon"><i class="fa fa-laptop"></i></div>
                  <h4>Web Design</h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatum laborum debitis molestias a accusantium, culpa
                  </p>
                </div>
              </div>
              <div class="service-item padd-15">
                <div class="service-item-inner">
                  <div class="icon"><i class="fa fa-laptop"></i></div>
                  <h4>Web Design</h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatum laborum debitis molestias a accusantium, culpa
                  </p>
                </div>
              </div>
              <div class="service-item padd-15">
                <div class="service-item-inner">
                  <div class="icon"><i class="fa fa-laptop"></i></div>
                  <h4>Web Design</h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatum laborum debitis molestias a accusantium, culpa
                  </p>
                </div>
              </div>
              <div class="service-item padd-15">
                <div class="service-item-inner">
                  <div class="icon"><i class="fa fa-laptop"></i></div>
                  <h4>Web Design</h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatum laborum debitis molestias a accusantium, culpa
                  </p>
                </div>
              </div>
              <div class="service-item padd-15">
                <div class="service-item-inner">
                  <div class="icon"><i class="fa fa-laptop"></i></div>
                  <h4>Web Design</h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatum laborum debitis molestias a accusantium, culpa
                  </p>
                </div>
              </div>
              <div class="service-item padd-15">
                <div class="service-item-inner">
                  <div class="icon"><i class="fa fa-laptop"></i></div>
                  <h4>Web Design</h4>
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptatum laborum debitis molestias a accusantium, culpa
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--Service Section end-->

        <!--Portifolio Section-->
        <section class="portifolio section" id="portifolio">
          <div class="container">
            <div class="row">
              <div class="section-title padd-15">
                <h2>Portifolio</h2>
              </div>
            </div>

            <div class="row">
              <div class="portifolio-filter padd-15">
                <button type="button" data-filter="tudo">Tudo</button>
                <button type="button" data-filter="Web">Web</button>
                <button class="active" type="button" data-filter="Fotografia">
                  Fotografia
                </button>
                <button type="button" data-filter="WordPress">WordPress</button>
              </div>
            </div>

            <div class="row">
              <!--Portifolio Item-->
              <div class="portifolio-item padd-15" data-category="Fotografia">
                <div class="portifolio-item-inner shadow-dark">
                  <div class="portifolio-img">
                    <img src="../assets/portifolio/1.jpg" alt="portifolio" />
                  </div>
                  <div class="portifolio-info">
                    <h4>Fotografia</h4>
                    <div class="icon">
                      <i class="fa fa-search"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!--Portifolio Item  end-->
              <!--Portifolio Item-->
              <div class="portifolio-item padd-15" data-category="Web">
                <div class="portifolio-item-inner shadow-dark">
                  <div class="portifolio-img">
                    <img src="../assets/portifolio/2.jpg" alt="portifolio" />
                  </div>
                  <div class="portifolio-info">
                    <h4>Web</h4>
                    <div class="icon">
                      <i class="fa fa-search"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!--Portifolio Item  end-->
              <!--Portifolio Item-->
              <div class="portifolio-item padd-15" data-category="Fotografia">
                <div class="portifolio-item-inner shadow-dark">
                  <div class="portifolio-img">
                    <img src="../assets/portifolio/3.jpg" alt="portifolio" />
                  </div>
                  <div class="portifolio-info">
                    <h4>Fotografia</h4>
                    <div class="icon">
                      <i class="fa fa-search"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!--Portifolio Item  end-->
              <!--Portifolio Item-->
              <div class="portifolio-item padd-15" data-category="WordPress">
                <div class="portifolio-item-inner shadow-dark">
                  <div class="portifolio-img">
                    <img src="../assets/portifolio/4.jpg" alt="portifolio" />
                  </div>
                  <div class="portifolio-info">
                    <h4>WordPress</h4>
                    <div class="icon">
                      <i class="fa fa-search"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!--Portifolio Item  end-->
              <!--Portifolio Item-->
              <div class="portifolio-item padd-15" data-category="Web">
                <div class="portifolio-item-inner shadow-dark">
                  <div class="portifolio-img">
                    <img src="../assets/portifolio/5.jpg" alt="portifolio" />
                  </div>
                  <div class="portifolio-info">
                    <h4>Web-design</h4>
                    <div class="icon">
                      <i class="fa fa-search"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!--Portifolio Item  end-->
              <!--Portifolio Item-->
              <div class="portifolio-item padd-15" data-category="Web">
                <div class="portifolio-item-inner shadow-dark">
                  <div class="portifolio-img">
                    <img src="../assets/portifolio/6.jpg" alt="portifolio" />
                  </div>
                  <div class="portifolio-info">
                    <h4>Web-design</h4>
                    <div class="icon">
                      <i class="fa fa-search"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!--Blog Section-->
        <section class="blog section" id="blog">
          <div class="container">
            <div class="row">
              <div class="section-title padd-15">
                <h2>Latest Blog</h2>
              </div>
            </div>

            <!--Blog item-->
            <div class="row">
              <div class="blog-item padd-15">
                <div class="blog-item-inner shadow-dark">
                  <div class="blog-img">
                    <img src="../assets/blog/1.jpg" alt="" />
                    <div class="blog-date">4 jun 2020</div>
                  </div>
                  <div class="blog-info">
                    <h4 class="blog-title">Responsive Web Design</h4>
                    <p class="blog-description">
                      Responsive Web Design - Lorem ipsum dolor sit amet,
                      consectetur adipisicing elit. Dolore, porro rem quod illo
                      quam, eum alias id, repellendus magni, quas.
                    </p>
                    <p class="blog-tags">
                      Tags : <a href="#"> Html </a> ,<a href="#"> css</a>
                    </p>
                  </div>
                </div>
              </div>

              <div class="blog-item padd-15">
                <div class="blog-item-inner shadow-dark">
                  <div class="blog-img">
                    <img src="../assets/blog/1.jpg" alt="" />
                    <div class="blog-date">4 jun 2020</div>
                  </div>
                  <div class="blog-info">
                    <h4 class="blog-title">Responsive Web Design</h4>
                    <p class="blog-description">
                      Responsive Web Design - Lorem ipsum dolor sit amet,
                      consectetur adipisicing elit. Dolore, porro rem quod illo
                      quam, eum alias id, repellendus magni, quas.
                    </p>
                    <p class="blog-tags">
                      Tags : <a href="#"> Html </a> ,<a href="#"> css</a>
                    </p>
                  </div>
                </div>
              </div>

              <div class="blog-item padd-15">
                <div class="blog-item-inner shadow-dark">
                  <div class="blog-img">
                    <img src="../assets/blog/1.jpg" alt="" />
                    <div class="blog-date">4 jun 2020</div>
                  </div>
                  <div class="blog-info">
                    <h4 class="blog-title">Responsive Web Design</h4>
                    <p class="blog-description">
                      Responsive Web Design - Lorem ipsum dolor sit amet,
                      consectetur adipisicing elit. Dolore, porro rem quod illo
                      quam, eum alias id, repellendus magni, quas.
                    </p>
                    <p class="blog-tags">
                      Tags : <a href="#"> Html </a> ,<a href="#"> css</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!--Blog item end-->

            <!--Blog item end-->
          </div>
        </section>
        <!--Blog Section end-->

        <!--Contact Section-->
        <section class="concact section padd-15" id="contact">
          <div class="container">
            <div class="row">
              <div class="section-title padd-15">
                <h2>Contact me</h2>
              </div>
            </div>

            <!--contact item-->
            <div class="row">
              <div class="contact-info-item">
                <div class="icon"><i class="fa fa-phone"></i></div>
                <h4>Call us On</h4>
                <p>+91 99999-9999</p>
              </div>
              <div class="contact-info-item">
                <div class="icon"><i class="fa fa-phone"></i></div>
                <h4>Call us On</h4>
                <p>+91 99999-9999</p>
              </div>
              <div class="contact-info-item">
                <div class="icon"><i class="fa fa-phone"></i></div>
                <h4>Call us On</h4>
                <p>+91 99999-9999</p>
              </div>
            </div>
            <!--contact item end-->

            <!--contact form-->
            <div class="row">
              <form action="" class="contact-form padd-15">
                <div class="row">
                  <div class="form-item col-6 padd-15">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Name"
                      />
                    </div>
                  </div>

                  <div class="form-item col-6 padd-15">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Email"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-item col-12 padd-15">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="objeto"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="form-item col-12 padd-15">
                    <div class="form-group">
                      <textarea
                        class="form-control"
                        placeholder="Message*"
                      ></textarea>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 padd-15">
                    <div class="form-group">
                      <button type="submit" class="btn">Send me</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>

            <!--contact form end-->
          </div>
        </section>
      </main>
      <!--Main Content end-->
    </div>
    <!--Main Container end-->

    <!--Modal-->
    <div class="lightbox">
      <div class="lightbox-content">
        <div class="closed-lightbox">&times;</div>
        <img
          src="../assets/portifolio/2.jpg"
          class="lightbox-img"
          onclick="nextItem()"
          alt=""
        />
        <div class="lightbox-caption">
          <div class="caption-text">Web-design</div>
          <div class="caption-counter">1 of 6</div>
        </div>
      </div>
      <div class="lightbox-controls">
        <div class="next-item" onclick="nextItem()">
          <i class="fa fa-angle-right"></i>
        </div>
        <div class="prev-item" onclick="prevItem()">
          <i class="fa fa-angle-left"></i>
        </div>
      </div>
    </div>
    <!--Modal-->

    <!--Template Js-->
    <script src="../js/script.js"></script>

    <!--Live Style Switcher -Demo Onyl- -->
    <div class="style-switcher">
      <div class="toggle-style-switcher">
        <i class="fa fa-cog fa-spin"></i>
      </div>
      <h5>Style Switcher</h5>
      <ul>
        <li>
          <a
            href="javascript:void(0)"
            title="redStyle"
            style="background-color: #ec1839"
            onclick="setActiveStyle('redStyle')"
          >
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            title="orangeStyle"
            style="background-color: #fa5b0f"
            onclick="setActiveStyle('orangeStyle')"
          >
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            title="yellowStyle"
            style="background-color: #ffb400"
            onclick="setActiveStyle('yellowStyle')"
          >
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            title="greenStyle"
            style="background-color: #72b626"
            onclick="setActiveStyle('greenStyle')"
          >
          </a>
        </li>
        <li>
          <a
            href="javascript:void(0)"
            title="blueStyle"
            style="background-color: #2196f3"
            onclick="setActiveStyle('blueStyle')"
          >
          </a>
        </li>
      </ul>
      <h5>Body Skin</h5>
      <label for="">
        <input
          type="radio"
          class="body-skin"
          name="body-style"
          value="light"
          checked
        />
        light
      </label>
      <label for="">
        <input type="radio" class="body-skin" name="body-style" value="Dark" />
        Dark
      </label>
    </div>

    <!--Live Js Switcher -Demo Onyl- -->
    <script src="../js/styleSwitcher.js"></script>
  </body>
</html>
