.style-switcher {
  position: fixed;
  top: 20px;
  right: 0;
  z-index: 10;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #d4d4e3;
  border-radius: 0 0 0 5px;

  transform: translateX(100%);
  transition: all 0.3s ease;
}

.style-switcher.openStyle {
  transform: translateX(0%);
}

.style-switcher h5 {
  font-size: 16px;
  color: #302e4d;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e8dfec;
}

.style-switcher ul {
  margin: 0;
  padding: 0;
  display: block;
  margin-bottom: 5px;
}

.style-switcher li {
  display: inline-block;
}

.style-switcher a {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: block;
  margin-right: 2px;
}

.toggle-style-switcher {
  position: absolute;
  height: 45px;
  width: 45px;
  background-color: #fff;
  left: -46px;
  top: -1px;
  border: 1px solid #d4d4e3;
  text-align: center;
  border-right: none;
  cursor: pointer;
  border-radius: 5px 0 0 5px;
}

.toggle-style-switcher .fa {
  font-size: 20px;
  line-height: 43px;
}
